<!DOCTYPE HTML>
<html>
<head>
    <title>Smoogle - Home | {{ indexed }}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <h1 style="text-align: center">Smoogle!</h1>
    <h2 style="text-align: center">{{ indexed }} sites indexed!</h2>
    <div class="flex justify-center">
    <form action="/search/" method="post">
        <label for="query">Search</label>
        <input class="border" type="text" name="query" id="query">
        <button class="bg-sky-500 hover:bg-sky-700: rounded-full text-white border-8 border-white w-32 h-12" type="submit">Go!</button>
    </form>
    </div>
    <br>
    <a href="/crawl-web/" class="flex justify-center">Dont See your favorite website?</a>
</body>
</html>